.header {
  background-image: url('./../../assets/images/mainBackgroundImage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: top;
  min-height: 60vh;
}
.wrapper {
  margin-left: 20%;
  width: 60%;
  padding: 20pt;
}
.wrapper img {
  width: 50pt;
  height: 50pt;
  margin-top: 30pt;
  margin-left: 70pt;
  background-color: #3B332B;
  padding: 10pt;
  border-radius: 10pt;
  cursor: pointer;
}
.wrapper img:hover {
  background-color: #FFC337;
}