.paginator {
	margin: 20pt;
}
.pageNumber {
	padding: 5pt 8pt;
	margin: 5pt;
	color: #FFC337;
	font-size: 15pt;
	cursor: pointer;
}

.pageNumber:hover {
	font-weight: bold;
	background-color: #FFC337;
	border-radius: 50%;
	color: #3B332B;
}

.pageNumber.selectedPage {
	font-weight: bold;
	background-color: #FFC337;
	border-radius: 50%;
	color: #3B332B;
}