.paginator {
	margin: 20pt;
}
.paginator button {
  background-color: #FFC337;
  border: none;
  border-radius: 5pt;
  font-size: 12pt;
  font-weight: bold;
  padding: 5pt;
	padding-top: 6pt;
  color: #3B332B;
  cursor: pointer;
}
.paginator button:hover {
	background-color: #3B332B;
  color: #FFC337;
}
.pageNumber {
	padding: 5pt 8pt;
	margin: 5pt;
	color: #FFC337;
	font-size: 15pt;
	cursor: pointer;
}

.pageNumber:hover {
	font-weight: bold;
	background-color: #FFC337;
	border-radius: 50%;
	color: #3B332B;
}

.pageNumber.selectedPage {
	font-weight: bold;
	background-color: #FFC337;
	border-radius: 50%;
	color: #3B332B;
}